<app-site-header></app-site-header>


<app-site-sidebar [sidemenus]="routeLinks"></app-site-sidebar>

<main class="main">
    <!-- <mat-tab-group>
        <mat-tab label="{{m.label}}" *ngFor="let m of routeLinks" id="{{m.label}}">
            <router-outlet></router-outlet>
        </mat-tab>
    </mat-tab-group> -->

    <ul mat-tab-nav-bar class="mat-tab-nav-bar">
        <li *ngFor="let m of routeLinks; let i = index;">
            <span>
                <a md-tab-link [routerLink]="m.link" routerLinkActive="mat-tab-link-active" #rla="routerLinkActive" (click)="activeLinkIndex = i"
                    [routerLinkActiveOptions]="{exact: true}" class="tabMat" *ngIf="m.isTabShow">
                    {{m.label}}
                </a>
                <a class="closeBTn" *ngIf="m.isTabShow" (click)="closeTab(m)">X</a>
            </span>
        </li>
    </ul>
    <div class="tabDiv">
        <router-outlet></router-outlet>
    </div>
</main>


<app-site-footer></app-site-footer>