<div class="sidebar siteSideBar">
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" mat-tab-nav-bar>
                <li class="nav-item dropdown" *ngFor="let m of sidemenus; let i = index;">
                    <a class="nav-link" [routerLink]="m.link" mat-tab-link routerLinkActive="mat-tab-link-active" #rla="routerLinkActive" [active]="activeLinkIndex === i"
                        (click)="activeLinkIndex = i;activeTab(m);" [routerLinkActiveOptions]="{exact: true}">{{m.label}}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>