<div class="sidebar">
    <nav class="navbar navbar-expand-lg">
        <!--Responsive Menu Button Start-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Responsive Menu Button End-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" mat-tab-nav-bar>
                <ng-template #recursiveList let-list>
                    <li *ngFor="let item of list;  let i = index;" class="nav-item dropdownToggle">
                        <a class="nav-link" [routerLink]="item.link" mat-tab-link routerLinkActive="mat-tab-link-active" #rla="routerLinkActive"
                            [active]="activeLinkIndex === i" (click)="activeLinkIndex = i;activeTab(item);" [routerLinkActiveOptions]="{exact: true}"
                            [ngx-scroll-to]="item.link">{{item.label}}</a>
                        <span class="arrowToggle" (click)="onSelect(item)" *ngIf="item.items.length > 0" [ngClass]="{'active': selectedList == item && !item.hide}"></span>
                        <ul *ngIf="item.items.length > 0 && !item.hide" class="dropdown-menu">

                            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.items }"></ng-container>

                        </ul>
                    </li>
                </ng-template>
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: sidemainmenus }"></ng-container>
            </ul>


        </div>
    </nav>
</div>